* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e8e8e8;
  text-align: center;
}

.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow:  0px -1px 0px 3px rgb(30, 30, 30), 0px 0px 9px 2px rgb(60, 60, 60);
  font-size: 8vmin;
  color: #e74844;
  background: #212121;
}

#reset-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: #fff;
  border-radius: 1rem;
  border: none;
}

#new-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: #fff;
  border-radius: 1rem;
  border: none;
}

#msg {
  color: #39da39;
  font-size: 5vmin;
  font-weight: bolder;
}

.msg-container {
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.hide {
  display: none;
}

main h1 {
  padding: 3vmin;
}

main p {
  padding: 5vmin;
  font-size: 14px;
  font-weight: bolder;
}