body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-color: #bbbbbb;
}

.calculator {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  background-color: #fffefe;
  padding: 40px 0;
  border-radius: 10px;
}

input[type="text"] {
  width: 80%;
  height: 80px;
  font-size: 40px;
  border-radius: 10px;
  text-align: right;
  margin-bottom: 10px;
}

button {
  width: 50px;
  height: 50px;
  font-size: 24px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  background-color: #bdbdbd;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}

button:active {
  transform: scale(0.95);
}

.red {
  background-color: #ff4a4a;
}

.red:hover {
  background-color: rgb(231, 83, 83);
}

.orange {
  background-color: orange;
}

.orange:hover {
  background-color: rgb(226 179 90);
}